.e-custom {
    border-radius: 0;
    height: 30px;
    width: 100px;
    background-color: red;
} 

.status-div {
    border-radius: 7px;
    padding: 4px 8px;
}

.scheduled {
    background: #0094ff;
}

.completed {
    background:#32CD32;
}

.cancelled {
    background: rgba(248, 20, 78, 0.67);
}

.missed {
    background: rgba(178, 0, 255, 0.66);
}