.e-dropdown-btn.e-custom-drop-btn {
    width: 180px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #0d6efd;
    color:white;
}

.e-custom-drop-btn {
    background-color: white !important;
}

.e-dropdown-btn.e-custom-drop-btn .e-export-pdf::before {
    font-size: 24px;
}