/* Getting-Started */
.card-bg-image {
    position: absolute;
    width: 630px;
    height: auto;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.gradient-background-doctor {
    background: rgb(74,144,226);
    background: -moz-linear-gradient(135deg, rgba(74,144,226,1) 5%, rgba(144,19,254,1) 96%);
    background: -webkit-linear-gradient(135deg, rgba(74,144,226,1) 5%, rgba(144,19,254,1) 96%);
    background: linear-gradient(135deg, rgba(74,144,226,1) 5%, rgba(144,19,254,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a90e2",endColorstr="#9013fe",GradientType=1);
}

.gradient-background-prm {
    background: rgb(255,126,95);
    background: -moz-linear-gradient(135deg, rgba(255,126,95,1) 54%, rgba(255,221,225,1) 96%);
    background: -webkit-linear-gradient(135deg, rgba(255,126,95,1) 54%, rgba(255,221,225,1) 96%);
    background: linear-gradient(135deg, rgba(255,126,95,1) 54%, rgba(255,221,225,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7e5f",endColorstr="#ffdde1",GradientType=1);
}
/* Getting-Started End */

/* Write here your styles for the Index page */