.custom-toolbar {
    justify-content: flex-end; /* Sağ hizalama */
}

.custom-toolbar-item {
    background-color: blue;
    color: white;
    border-radius: 5px; /* Düğmeye köşeli bir görünüm ekler */
    padding: 5px 10px;
    border: none; /* Varsayılan kenarlığı kaldırır */
}

    .custom-toolbar-item:hover {
        background-color: darkblue; /* Hover rengi */
    }
