#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
:root .lpx-brand-logo {
    --lpx-logo: url('./images/login/medplus.png');
    --lpx-logo-icon: url('./images/login/medplus.png');
}

.clickable {
    cursor:pointer;
}

.days-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-block: 1rem;
}

.days {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    white-space: nowrap;
    width: 100%;
}

.status-div {
    border-radius: 7px;
    padding: 4px 8px;
}


/*# AppColors */
.success-color {
    background-color: var(--bs-success);
}

.fail-color {
    background-color: var(--bs-danger);
}

.light-green {
    background-color: #d6ffd1;
}

.light-red {
    background-color: rgba(255, 56, 56, 0.5);
}

.orange-bg {
    background: #FFA500;
}

.blue-bg {
    background: #0094ff;
}

.green-bg {
    background:#32CD32;
}

.red-bg {
    background: rgba(248, 20, 78, 0.67);
}

.purple-bg {
    background: rgba(178, 0, 255, 0.66);
}

.purple {
    color: purple !important;
}

/* Flex properties */
.f1 {
    flex: 1;
}

/* Index.razor.css */

.card-bg-image {
    position: absolute;
    width: 630px;
    height: auto;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.gradient-background-doctor {
    background: rgb(74,144,226);
    background: -moz-linear-gradient(135deg, rgba(74,144,226,1) 5%, rgba(144,19,254,1) 96%);
    background: -webkit-linear-gradient(135deg, rgba(74,144,226,1) 5%, rgba(144,19,254,1) 96%);
    background: linear-gradient(135deg, rgba(74,144,226,1) 5%, rgba(144,19,254,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a90e2",endColorstr="#9013fe",GradientType=1);
}

.gradient-background-doctor:hover {
    background: rgb(144, 19, 254);
    background: -moz-linear-gradient(135deg, rgba(144, 19, 254, 1) 5%, rgba(74, 144, 226, 1) 96%);
    background: -webkit-linear-gradient(135deg, rgba(144, 19, 254, 1) 5%, rgba(74, 144, 226, 1) 96%);
    background: linear-gradient(135deg, rgba(144, 19, 254, 1) 5%, rgba(74, 144, 226, 1) 96%);
    transition: 0.2s;
}

.gradient-background-prm {
    background: rgb(255,126,95);
    background: -moz-linear-gradient(135deg, rgba(255,126,95,1) 54%, rgba(255,221,225,1) 96%);
    background: -webkit-linear-gradient(135deg, rgba(255,126,95,1) 54%, rgba(255,221,225,1) 96%);
    background: linear-gradient(135deg, rgba(255,126,95,1) 54%, rgba(255,221,225,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7e5f",endColorstr="#ffdde1",GradientType=1);
}

.gradient-background-prm:hover {
    background: rgb(255, 221, 225);
    background: -moz-linear-gradient(135deg, rgba(255, 221, 225, 1) 5%, rgba(255, 126, 95, 1) 96%);
    background: -webkit-linear-gradient(135deg, rgba(255, 221, 225, 1) 5%, rgba(255, 126, 95, 1) 96%);
    background: linear-gradient(135deg, rgba(255, 221, 225, 1) 5%, rgba(255, 126, 95, 1) 96%);
    transition: 0.2s;
}

.e-icons.e-medium {
    font-size: 55px !important;
}
.large-icon {
    font-size: 55px !important;
}

/* Sizes */
.px-40 {
    height: 40px !important;
}
