@using Syncfusion.Blazor.Notifications

<ul class="skeleton-list e-card">
    <li>
        <div class="d-flex flex-column align-items-center justify-content-center px-1 py-1">
            <SfSkeleton Width="80%" Height="15px" Effect="ShimmerEffect.Pulse"></SfSkeleton>
        </div>
    </li>
</ul>

<style>
    .skeleton-list {
        padding-left: 12px;
        padding-top: 7px;
        line-height: inherit;
        width: 140px;
    }

    .skeleton-list li {
        list-style: none;
        display: flow-root;
        margin-bottom: 9px;
        border-radius: 8px;
    }
    
</style>